@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}